# Build outputs
*.exe
*.obj
*.pdb
*.lib
*.dll
*.log

#
.vs/
*.vcxproj.user
*.suo

#
x64/
Debug/
Release/

#
build/
CMakeFiles/
CMakeCache.txt

#
key.json
users.json

#
*.sln
*.vcxproj
*.vcxproj.filters
*.user